<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <title>View Designations</title>
<meta charset="ISO-8859-1" /> 
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  
 <link th:href="@{#}" rel="shortcut icon">
  
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js">   </script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
	
		<link rel="stylesheet" th:href="@{/css/headerstyle.css}">
		<link rel="stylesheet" th:href="@{/css/bookappoint.css}">
		<link rel="stylesheet" th:href="@{/css/main.css}">
	
	
	<link rel ="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
	<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
	
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" />
	
  <script>
  $(document).ready(function(){
	 
	  $('#desigtable').DataTable();
  });
  
 
    </script>
   </head>
 <body>

<div th:replace="fragments/AdminHeader.html :: adminheader" >
	
</div>

<div class="container" >
	
 <!-- start: PAGE HEADER -->
		<div class="row">
			<div class="col-sm-12">
				
				<!-- start: PAGE TITLE & BREADCRUMB -->
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						
						<a th:href="@{/adminhome}">
							<i class="fa fa-home "></i>&nbsp;Home
						</a>
					</li>
					<li class="breadcrumb-item active" aria-current="page">
						View Designation
					</li>
					
				</ol>
			</div>
		</div>
		<div th:if="${response}" >
			<h6 th:text="${response}" class="alert alert-success"></h6>
		</div>
		
		<div th:if="${reserr}" >
			<h6 th:text="${reserr}" class="alert alert-danger"></h6>
		</div>	
			
		<div class="card">
			<div class="card-header">
				<h4>View Designation
					<a th:href="@{/adddesignation}" class="btn btn-primary" style="float:right;">Add Designation</a>
				</h4>
			</div>
	  
	 
		 <div class="card-body">
			<div class="col-md-3"></div>
		
			<div class="table-responsive-sm" >
				<table class="table table-bordered table-striped table-hover table-full-width dt-responsive nowrap" style="width:100%;text-decoration:none;" id="desigtable" >
					
					<thead style="background-color:#3fbdeb;color:white;">
						<tr>
							<th>Sr No.</th>
							<th>Designation Name</th>
							<th>Action</th>
							
						</tr>	
					</thead>	
					
					<tbody id="aptodaybody">
						<th:block th:each=" desig : ${dlist}">
							<tr>
								<td th:text="${desig.desig_id}"> </td>
								<td th:text="${desig.designation}"> </td>
								<td ><a th:href="@{/editdesigbyid/{id}(id=${desig.desig_id})}">Edit</a></td>
							</tr>
						
						</th:block>
					</tbody>
					
				</table>
			</div>
		 
    	</div>
      </div>
      
    	
    </div>
    <div th:replace="fragments/Footer.html :: footer">
    </div>
    
    </body>
  